[submodule "modules/SpikeGLX-CPP-SDK"]
	path = modules/SpikeGLX-CPP-SDK
	url = https://github.com/billkarsh/SpikeGLX-CPP-SDK.git
[submodule "docs/bonsai"]
	path = docs/bonsai
	url = https://github.com/bonsai-rx/docfx-tools
